<% if reviews.empty? %>
  <p> Be the first one to add a review! </p>
<% else %>
  <% reviews.each do |review| %>

      <tr >
          <td><strong style="font-size: 20px;"> <%= review.user.username %></strong> </td>
          <td> <%= review.comment %> </td>
          <td> <% action = review.rating.to_i %> </td>
          <% case action  %>
          <% when 1  %>
            <p>⭐️</p>
          <% when 2  %>
             <p>⭐️⭐️</p>
          <% when 3  %>
             <p>⭐️⭐️⭐️</p>
          <% when 4  %>
            <p>⭐️⭐️⭐️⭐</p>
          <% when 5  %>
            <p>⭐️⭐️⭐️⭐️⭐️</p>
          <% end %>
      </tr>
      <hr>

    <% end %>
<% end %>
