<% reviews.each do |review| %>
  <div class="shadow p-3 mb-5 bg-body rounded ">
    <tr>
        <td> <%= review.user.username %> : </td>
        <td> <%= review.comment %> </td>
        <td> <%=review.rating%> ⭐️ </td>
    </tr>
  </div>
  <% end %>

