.homepage_container {
  background-color: white;
  width: 100%;
  height: 1150px;
  margin-top: 0px;
  background-image: url(https://img.freepik.com/vecteurs-libre/memphis-fond_53876-85419.jpg?w=740&t=st=1677265783~exp=1677266383~hmac=60ba9e3f2cd5828b51d44b4a909294d9bb63e578337d917ba806eb17acbc380e);
}

.kibon {
  color: #1f2833;
  h1 {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
  }
}

.baz {
  color: #E9BE78;
  h1 {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
  }
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 30px;
}

.subtitle {
  text-align: center;
  h2{
    color: #1f2833;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Alfa Slab One', cursive;
  }
}

.how_it_works {
  width: 100%;
  height: 100px;
  padding-top: 140px;
  align-items: center;
  justify-content: center;
  background-image: url(https://img.freepik.com/vecteurs-libre/memphis-fond_53876-85419.jpg?w=740&t=st=1677265783~exp=1677266383~hmac=60ba9e3f2cd5828b51d44b4a909294d9bb63e578337d917ba806eb17acbc380e);
  h1 {
    color: #1f2833;
    text-align: center;
    font-weight: bolder;
    font-family: 'Alfa Slab One', cursive;
  }
}

.hiw_card {
  height: 400px;
  padding-top: 40px;
  margin-top: 10px;
  width: 100%;

  h3 {
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    color: #1f2833;
  }
  p {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
  }
  background-color: #FCF5EF;
  opacity: 0.9;
  text-align: center;
  img {
    padding-left: 60px;
    padding-bottom: 10px;
  }
}

.phone {
  padding-top: 40px;
  padding-left: 160px;
}

.icon1{
  position: absolute;
  margin-top: -250px;
  padding-left: 80px;
  animation: fadeInAnimation ease-in 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.icon2{
  position: absolute;
  margin-top: -100px;
  padding-left: 30px;
  animation: fadeInAnimation ease-in 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.icon3{
  position: absolute;
  margin-top: -150px;
  padding-left: 110px;
  animation: fadeInAnimation ease-in 2.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.icon4{
  position: absolute;
  margin-top: -180px;
  padding-left: 20px;
  animation: fadeInAnimation ease-in 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

.animation {
  position: absolute;
  width: 140px;
  height: 320px;
  margin-top: -320px;
  margin-left: 10px;
  object-fit: fill;
  clip-path: polygon(0% 0%,100% 0%, 100% 100%, 0% 100%);
}

.rasta {
  position: absolute;
  margin-top: -360px;
  margin-left: -17px;
  animation: floating 1.6s ease-in-out infinite;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 5px); }
  100%   { transform: translate(0, 0px); }
}

.Get_Started {
  position: absolute;
  padding-left: 138px;
}

.Gst_btn {
  background-color: #1f2833;
  color: white;
  width: 200px;
  height: 60px;
  border-radius: 15px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  a {
    text-decoration: none;
    color: white;
  }
}
