.homepage_container {
  background-color: white;
  width: 100%;
  height: 300px;
}

.kibon {
  color: #1f2833;
  h1 {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
  }
}

.baz {
  color: #E9BE78;
  h1 {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
  }
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
}

.subtitle {
  text-align: center;
  h2{
    color: #1f2833;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Alfa Slab One', cursive;
  }
}

.how_it_works {
  width: 100%;
  height: 100px;
  background-color: white;
  align-items: center;
  h1 {
    color: #1f2833;
    text-align: center;
    font-weight: bolder;
    font-family: 'Alfa Slab One', cursive;
  }

}

.hiw_card {
  h2 {
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    color: #E9BE78;
  }
  p {
    font-size: 20px;
    font-family: 'Alfa Slab One', cursive;
  }
  background-color: white;
  text-align: center;
}
