.show_cont {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100vw;
  background-image: url(https://img.freepik.com/vecteurs-libre/memphis-fond_53876-85419.jpg?w=740&t=st=1677265783~exp=1677266383~hmac=60ba9e3f2cd5828b51d44b4a909294d9bb63e578337d917ba806eb17acbc380e);
}

.restau_image {
  border: transparent;
  width: 90%;
  height: 450px;
  border-radius: 20px;
  // max-width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
}

.restau_info {
  border: transparent;
  font-family: 'Poppins', sans-serif;
  width: 90%;
  height: 275px;
  //border-radius: 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -50px;
  padding-left: 10px;
  padding-top: 15px;
  margin-bottom: 10px;
  background-color: white;
  color: #1f2833;
  box-shadow: 4px 10px 15px -12px rgba(0,0,0,0.75);
  h1 {
    text-align: left;
    font-family: 'Tilt Warp', cursive;
    padding-left: 10px;
  }
  p {
    font-size: 20px;
  }
  i {
    color: black
  }
}

.buttons {
  height: 70px;
  width: 90%;
  padding-top: 5px;
}


.fa-solid {
  color: white;
  padding: 10px;
  font-size: 25px;
}

.fa-regular {
  color: white;
  padding: 10px;
  font-size: 25px;
}


.fav {
  position: relative;
  padding-left: 290px;
  margin-top: -440px;
  .heart {
  border-radius: 50%;
  border: transparent;
  background-color: transparent;
  padding: 1px;
  margin: 0;
  -webkit-text-stroke: 2px black;
  }
}

.mobile-bottom-nav {
  position: fixed;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color:#1f2833;
  margin-top: 20px;
  //border-radius: 30px;
  padding-top: 10px;
  z-index: 2;
  opacity: 0.95;
}

#c1 {
  background-image: url(https://img.freepik.com/vecteurs-libre/memphis-fond_53876-85419.jpg?w=740&t=st=1677265783~exp=1677266383~hmac=60ba9e3f2cd5828b51d44b4a909294d9bb63e578337d917ba806eb17acbc380e);
}

#card-body-show {
  box-shadow: 4px 10px 15px -12px rgba(0,0,0,0.75);
  border-radius: 25px;
}
