.Add_review_container {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.btn_rev {
  width: 349px;
  height: 60px;
  border-radius: 20px;
  background-color: #E1AF63;
  border: solid #E1AF63 2px;
  box-shadow: 5px 5px 5px lightgrey;
  p {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
}

.review_btn {
  padding-left: 20px;
}
