.Add_review_container {
  width: 100%;
  height: 400px;
  background-color: #1f2833;
}

.btn_rev {
  width: 349px;
  height: 60px;
  border-radius: 20px;
  background-color: white;
  border: solid white 4px;
  //box-shadow: 5px 5px 5px lightgrey;
  p {
    text-decoration: none;
    color: #E1AF63;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
}

.review_btn {
  padding-left: 20px;
  margin-top: 10px;
}
