<nav class="navbar navbar-dark bg-dark rounded">
  <div class="container-fluid">
    <h1 style="color:white; border-style:dotted; border-radius:5px; padding:2px; margin-top: 5px;">
        <%= link_to "Kibonbaz", root_path, class:"text-white text-decoration-none fw-bolder font-monospace ms-2"%>
        <i class="fa-solid fa-bowl-food"></i>
    </h1>

    <a href="https://www.lewagon.com" target="_blank">
      <i class="fa-sharp fa-regular fa-user"
      style=" padding: 5px; color:white; font-size: 30px; margin-right:5px; border-style:solid; border-width:2px; border-radius:5px;">
      </i>
    </a>
  </div>
</nav>
