<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-4">
      <% @tags.each do |tag| %>
        <div class="card bg-dark text-white mb-1 border-0 shadow p-3 mt-4 mb-4 bg-body rounded">
          <div class="tag-image">
           <%= cl_image_tag tag.photo.key,width: 350, height: 300, crop: :fill%>
          </div>
          <div class="card-img-overlay"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title='list all restaurants that serve <%=tag.name_tag%>'>
            <%= link_to tag.name_tag, tag_path(tag), class: "btn btn-info rounded-pill mt-2 ms-1" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
