<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-4">
      <p><%= @tags.count %> tags </p>
      <hr>
      <% @tags.each do |tag| %>
        <%= link_to tag.name_tag, tag_path(tag), class: "btn btn-primary" %>
        <%= cl_image_tag tag.photo.key, height: 300, width: 400, crop: :fill %>
        <hr>
      <% end %>
    </div>
  </div>
</div>
