<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-4" style="background-image: url(https://img.freepik.com/vecteurs-libre/memphis-fond_53876-85419.jpg?w=740&t=st=1677265783~exp=1677266383~hmac=60ba9e3f2cd5828b51d44b4a909294d9bb63e578337d917ba806eb17acbc380e);">
         <h1 class="text-center fw-bolder mt-3" style= "font-family: 'Alfa Slab One', cursive; color: #1f2833">Tags</h1>
      <% @tags.each do |tag| %>
        <div class="card bg-dark text-white mb-1 border-0 shadow p-3 mt-4 mb-4 bg-body rounded-5">
          <div class="tag-image p-1">
           <%= cl_image_tag tag.photo.key,width: 324, height: 300, crop: :fill%>
          </div>
          <div class="card-img-overlay"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title='list all restaurants that serve <%=tag.name_tag%>'>
            <h1 style= "font-family: 'Alfa Slab One', cursive; color: #1f2833"><%= link_to tag.name_tag, tag_path(tag), class: "btn btn-info rounded-pill mt-2 ms-1" %></h1>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<br>
