<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner rounded-5 mt-3">
      <% restaurant.photos.each do |photo| %>
        <div class="carousel-item active" data-bs-interval="1250">
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class:"d-block w-100" %>
          <% if user_signed_in? && current_user.favorited?(restaurant) %>
            <div class="position-absolute top-0 end-0">
              <i class="fa-solid fa-star fs-1"style="color:orange"></i>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
