
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% restaurant.photos.each do |photo| %>
      <div class="carousel-item active" data-bs-interval="2000">
          <%= cl_image_tag photo.key, height: 300, width: 350, crop: :fill, class:"d-block w-100 rounded-4" %>
          <% if user_signed_in? && current_user.favorited?(restaurant) %>
            <div class="position-absolute top-0 end-0 m-2 p-0">
              <i class="fa-solid fa-star fs-1"style="color:gold"></i>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
