<h1 style= "font-size: 25px;"><%= restaurant.name %></h1>
<hr>
<p class= "rating_p"><%= rating %><i class="fa-solid fa-star" style="color:#E9BE78"></i></p>

<%= link_to "More info", restaurant_path(restaurant), class: "btn btn-info btn-md rounded-3"%>
