.form-login {
  background-color: white;
  padding: 50px;
  margin-top: 70px;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}
