<div class="review_container">
  <%= simple_form_for [ @restaurant, @review ] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating %>
    <%= f.submit "Submit review", class: "btn btn-gradient" %>
  <% end %>
</div>
